#showcase {
	min-height: 400px;
	background: url(header.jpg) no-repeat 0 -250px;
	background-size: 100%;
	text-align: center;
	color: white;
	font-family: nexaheavy, sans-serif ;
}
#showcase .content h1 {

	padding-top:120px;
}
.form{
background-color: red;
margin-left:auto;
margin-right: auto;
width: 600px;


}
}


